packaging_format = 2

id = "kitchenowl"
name = "KitchenOwl"
description.en = "Self-hosted grocery list and recipe manager"
description.fr = "Gestionnaire de listes de courses et de recettes auto-hébergé"

version = "0.4.7~ynh1"

maintainers = ["Thovi98"]

[upstream]
license = "AGPL-3.0"
website = "https://kitchenowl.org/"
demo = "https://app.kitchenowl.org/"
admindoc = "https://docs.kitchenowl.org/"
userdoc = "https://docs.kitchenowl.org/getting-started/tips-and-tricks/"
code = "https://github.com/TomBursch/kitchenowl"
fund = "https://github.com/sponsors/TomBursch"

[integration]
yunohost = ">= 11.2.3"
architectures = ["amd64", "arm64"]
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/kitchenowl"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]
        [resources.sources.front]

        url ="https://github.com/TomBursch/kitchenowl/releases/download/v0.4.12/kitchenowl_Web.tar.gz"
        sha256 ="1b1f73c57dbffe926598ac7f673de95f6b1b6713f6103559b7c7b78ec984855b"
        autoupdate.strategy = "latest_github_tag"


        [resources.sources.backend]
        url = "https://github.com/TomBursch/kitchenowl-backend/archive/refs/tags/v77.tar.gz"
        sha256 = "2f11823f31e652bec7d1cbf4b17c034039bca06424936d63de818b2fa5ce60ab"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
   
    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql, postgresql-contrib, python3-venv, build-essential"

    [resources.database]
    type = "postgresql"
